<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>商品介绍</title>
	<link type="text/css" rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/city.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/main.css">
	<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="js/ie6Fixpng.js"></script>
<![endif]-->
	<script type="text/javascript" src="/static/js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript" src="/static/js/ie6Fixpng.js"></script>
	<script src="/static/js/test.js" type="text/javascript"></script>
	<script src="/static/js/init.js" type="text/javascript"></script>
	<script src="/static/js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
	
	function change() {
	login = document.getElementById("login").innerHTML;
	   if(login !="[登录]")
	   {
		document.getElementById("register").innerHTML = "个人中心";
		document.getElementById("login").href ="#"
		document.getElementById("register").href = "/person";
		$.ajax({
		type:'GET',
		data:{"username":login},
		url:'/ajax/shopcartnum',
		dataType:'json',
		success:function (result) {
			document.getElementById("shopcart").innerHTML=result["num"];
		}
	});
	}
		 var reg = new RegExp("(^|&)" + 'itemid' + "=([^&]*)(&|$)", "i");  
    var l = decodeURI(window.location.search);  
    var r = l.substr(1).match(reg);
    if (r != null) 
	{itemid=unescape(r[2]);  
	}
	else 
	{alert("error!");}
		$.ajax({
		type:'GET',
		data:{"itemid":itemid},
		url:'/ajax/items',
		async:false,
		dataType:'json',
		success:function (result) {
			if (result["state"]=="success")
			{
			document.getElementById("itemname").innerHTML = result["data"]["itemname"];
			document.getElementById("itemname2").innerHTML = result["data"]["itemname"];
			//document.getElementById("itemid").innerHTML = result["data"]["itemid"];
			document.getElementById("itemcategory").innerHTML = result["data"]["itemcategory"];
			
			document.getElementById("itemcategory").href = "filter?find="+document.getElementById('itemcategory').innerHTML;
			document.getElementById("iprice").innerHTML = result["data"]["iprice"];
			document.getElementById("mprice").innerHTML = result["data"]["mprice"];
			document.getElementById("pubdate").innerHTML = result["data"]["pubdate"];
			document.getElementById("author").innerHTML = result["data"]["author"];
			document.getElementById("publisher").innerHTML = result["data"]["publisher"];
			document.getElementById("itempic").src = result["data"]["itempic"];
			document.getElementById("description").innerHTML = result["data"]["description"];
			document.getElementById("descpic").src = result["data"]["descpic"];
			}
				
						
						
		}
	});
	findshopcartnum();
			}
			
			

		function findshopcartnum()
		{
		r = document.getElementById("login").innerHTML;
		if (r!="[登录]")
		{
		 $.ajax({
		type:'GET',
		data:{"username":unescape(r[2])},
		url:'/ajax/shopcartnum',
		dataType:'json',
		success:function (result) {
				
			document.getElementById("shopcart").innerHTML=result["num"];
		}
	});
		}else{
		document.getElementById("shopcart").innerHTML=0;
		}
		}
	function changeUrlArg(arg, val){
		url=document.URL;
		var pattern = arg+'=([^&]*)';
		var replaceText = arg+'='+val;
		return url.match(pattern) ? url.replace(eval('/('+ arg+'=)([^&]*)/gi'), replaceText) : (url.match('[\?]') ? url+'&'+replaceText : url+'?'+replaceText);
	}

	function GetQueryString(arg)
	{
		var reg = new RegExp("(^|&)" + arg + "=([^&]*)(&|$)", "i");  
		var l = decodeURI(window.location.search);  
		var r = l.substr(1).match(reg);  
		if (r != null) return unescape(r[2]);  
		return null;  
	}
	
	function  search(){
		var href="filter?itemid="+document.getElementById('find').value;
		location.href=href;	
	}

	function  addshopcart(condition){
		login = document.getElementById("login").innerHTML;
		if(login=="[登录]")  
		{
		href="login";
		window.open(href);
		}else if(document.getElementById("pname").value!='0')
		{
		itemid = GetQueryString("itemid")
		itemname = document.getElementById("itemname").innerHTML
		user = login ;
		num = document.getElementById("pname").value
		price = document.getElementById("iprice").innerHTML
		 $.ajax({
		type:'GET',
		data:{"itemid":itemid,"itemname":itemname,"user":user,"num":num,"price":price,"condition":condition},
		url:'/ajax/addorder',
		dataType:'json',
		success:function (result) {
			if (result["msg"]=="true" &&condition=='0')
			{
			alert("加入购物车成功");
			findshopcartnum();
			}else if(result["msg"]=="true" &&condition=='1')
			{
				href="order"+"&itemid="+GetQueryString("itemid");
				window.open(href);
			}
		}
	});
		}
		
	}
	function minues()
	{ 
	a = document.getElementById("pname").value;
	if (parseInt(a)>0){
	document.getElementById("pname").value=parseInt(a)-1;
	}else{
	document.getElementById("pname").value=0;
	}
	
	}
	function add()
	{ 
	a = document.getElementById("pname").value;
	if (parseInt(a)<=100  ){
	document.getElementById("pname").value=parseInt(a)+1;
	}else{
	document.getElementById("pname").value =1;
	}
	
	}
	</script>


</head>

<body class="grey" onload="change()">
	<div class="headerBar">
		<div class="topBar">
			<div class="comWidth">
				<div class="leftArea">
				<a onclick="AddFavorite(window.location,document.title)"href="javascript:void(0)" class="collection">收藏本站</a>
			</div>
				<div class="rightArea">
					欢迎来到BookShop！<a href="/login" id="login">{{user}}</a>
    <input type="submit" value="退出登录" style="cursor:pointer" onclick="logout()"></br>
	<a href="/register" id="register">[免费注册]</a>
			</div>
			</div>
		</div>
		<div class="logoBar">
			<div class="comWidth">
				<div class="logo fl">
					<a href="/shop"><img src="../static/images/logo.jpg" alt="BookShop"></a>
				</div>
				<div class="search_box fl">
					<input type="text" class="search_text fl" id="find">
					<input type="button" value="搜 索" class="search_btn fr" style="cursor:pointer" onclick="search()">
				</div>
				<div class="shopCar fr">
					<span class="shopText fl" style="cursor:pointer" onclick="shopcart()">购物车</span>
					<span class="shopNum fl" id="shopcart">0</span>
				</div>
			</div>
		</div>
	
	</div>
	<div class="userPosition comWidth">
		<strong><a href="/shop" id="shop">首页</a></strong>
		<span>&nbsp;&gt;&nbsp;</span>
		<a href="#" id="itemcategory">  </a>
		<span>&nbsp;&gt;&nbsp;</span>
		<em id="itemname">  </em>
	</div>
	<div class="description_info comWidth">
		<div class="description clearfix">
			<div class="leftArea">
				<div class="description_imgs">
					<div class="big">
						<img width="280px" height="330px" id="itempic" src="  " alt="">
					</div>
						
				</div>
			</div>
			<div class="rightArea">
				<div class="des_content">
					<h3 class="des_content_tit" id="itemname2">  </h3>



					<style>
						.divcss5 {
							padding-left: 13px
						}
					</style>


					<div class="des_content">
						<div class="divcss5">作者:<a id="author">卡勒德·胡赛尼</a> &nbsp出版社:<a id="publisher">上海人民出版社</a> &nbsp出版日期:<a id="pubdate">2001年10月</a></div>

						<div class="divcss5" >市场价 <span style="color:#6699ff" class="des_money"><em>￥</em></span><span class="des_money" style="color:#6699ff" id="mprice">999.00</span></div>
						<div class="divcss5">网站价 <span class="des_money"><em>￥</em></span><span class="des_money" id="iprice">199.00</span></div>
						
					</div>



					<div class="des_position">


						<div class="dl clearfix">
							<div class="dt">送到</div>
							<div class="dd clearfix">
								<div class="ku">
									<span>请选择地址</span>
									<div class="xiala">
										<h1><span>确认</span></h1>
									</div>
								</div>
								<script src="../static/js/diquxuanze.js"></script>
								<span class="theGoods">有货，可当日出货</span>
							</div>
						</div>


						<div class="dl">
							<div class="dt des_num" >数量</div>
							<div class="dd clearfix">
								<div class="des_number">
									<div class="reduction" style="cursor:pointer" onclick = 'minues()' id = '-'>-</div>
									<div class="des_input">
										<input type="text" id="pname" value = "0">
									</div>
									<div class="plus" style="cursor:pointer" onclick = 'add()' id = '+'>+</div>
								</div>

							</div>
						</div>
					</div>

					
				
					
					
					<div class="shop_buy">
						<a href="#" class="shopping_btn" onclick = "addshopcart(0)"></a>
						<span class="line"></span>
						<a href="#" class="buy_btn" onclick = "addshopcart(1)"></a>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="hr_15"></div>

	<div class="description_info comWidth">
		<div class="des_infoContent">
			<ul class="des_tit">
				<li class="active"><span>产品介绍</span></li>
				<li><span>产品评价(12312)</span></li>
			</ul>
	
			<div class="info_text">
				<div class="info_tit">
					<h3>强烈推荐</h3>
					<h4>货比三家，还选BookShop</h4>
				</div>
				<p id="description">  </p>



				<div class="hr_45"></div>
				<img style="display:block;width:100%;" id="descpic" src="  " class="center">
				<div class="hr_45"></div>
			</div>
		</div>
		<div class="hr_15"></div>
		<div class="des_infoContent">
			<h3 class="shopDes_tit">商品评价</h3>
			<div class="score_box clearfix">
				<div class="score">
					<span>4.7</span><em>分</em>
				</div>
				<div class="score_speed">
					<ul class="score_speed_text">
						<li class="speed_01">非常不满意</li>
						<li class="speed_02">不满意</li>
						<li class="speed_03">一般</li>
						<li class="speed_04">满意</li>
						<li>非常满意</li>
					</ul>
					<div class="score_num">
						4.7<i></i>
					</div>
					<p>共18939位BookShop会员参与评分</p>
				</div>
			</div>
			<div class="review_tab">
				<ul class="review fl">
					<li><a href="#" class="active">全部</a></li>
					<li><a href="#">满意（3121）</a></li>
					<li><a href="#">一般（321）</a></li>
					<li><a href="#">不满意（1121）</a></li>
				</ul>
				<div class="review_sort fr">
					<a href="#" class="review_time">时间排序</a><a href="#" class="review_reco">推荐排序</a>
				</div>
			</div>
			<div class="review_listBox">
				<div class="review_list clearfix">
					<div class="review_userHead fl">
						<div class="review_user">
							<img src="../static/images/userhead.jpg" alt="">
							<p>91***42</p>
							<p>金色会员</p>
						</div>
					</div>
					<div class="review_cont">
						<div class="review_t clearfix">
							<div class="starsBox fl"><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span>
								<span class="stars"></span>
							</div>
							<span class="stars_text fl">5分 满意</span>
						</div>
						<p>书非常好看，卖家发货很快！</p>
						<p><a href="#" class="ding">顶(0)</a><a href="#" class="cai">踩(0)</a></p>
					</div>
				</div>
				<div class="review_list clearfix">
					<div class="review_userHead fl">
						<div class="review_user">
							<img src="../static/images/userhead.jpg" alt="">
							<p>84***21</p>
							<p>金色会员</p>
						</div>
					</div>
					<div class="review_cont">
						<div class="review_t clearfix">
							<div class="starsBox fl"><span class="stars"></span><span class="stars"></span><span class="stars"></span><span class="stars"></span>
								<span class="stars"></span>
							</div>
							<span class="stars_text fl">5分 满意</span>
						</div>
						<p>非常赞，比市场便宜好多！</p>
						<p><a href="#" class="ding">顶(0)</a><a href="#" class="cai">踩(0)</a></p>
					</div>
				</div>
				<div class="hr_25"></div>
			</div>
		</div>

	</div>
	<div class="hr_25"></div>
	<div class="footer">
		<p><a href="#">BookShop简介</a><i>|</i><a href="#">BookShop公告</a><i>|</i> <a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：400-675-1234</p>
		<p>Copyright &copy; 2017 - 2017 BookShop版权所有&nbsp;&nbsp;&nbsp;鲁ICP备09037834号&nbsp;&nbsp;&nbsp;鲁ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
		<p class="web">
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
		</p>
	</div>
</body>

</html>