
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BookShop</title>
<link type="text/css" rel="stylesheet" href="../static/css/reset.css">
<link type="text/css" rel="stylesheet" href="../static/css/main.css">
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="js/ie6Fixpng.js"></script>
<![endif]-->
<!-- <script type="text/javascript" src="/static/js/ie6Fixpng.js"></script> -->
<!-- <script type="text/javascript" src="/static/js/DD_belatedPNG_0.0.8a-min.js"></script> -->
<script src="/static/js/test.js" type="text/javascript"></script>
<script src="/static/js/jquery.js" type="text/javascript"></script>

<script type="text/javascript">
function change()
{
        var reg = new RegExp("(^|&)" + 'user' + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
		if (r!=null)
		{
         document.getElementById("my").innerHTML =unescape(r[2]);
		 }
		 a = document.URL.replace('?','').replace('#','').replace(window.location.pathname,'/filter?');
		 
		 $("#titlename1src").attr("href",a+"&find="+document.getElementById("titlename1").innerHTML); 
		 $("#titlename1src1").attr("href",a+"&find="+document.getElementById("titlename1").innerHTML); 
		 $("#titlename2src").attr("href",a+"&find="+document.getElementById("titlename2").innerHTML); 
		 $("#titlename2src2").attr("href",a+"&find="+document.getElementById("titlename2").innerHTML);
		 document.getElementById("varity1").href=a+"&find="+document.getElementById("varity1").innerHTML;
		 document.getElementById("varity2").href=a+"&find="+document.getElementById("varity2").innerHTML;
		 document.getElementById("varity3").href=a+"&find="+document.getElementById("varity3").innerHTML;
		 document.getElementById("varity4").href=a+"&find="+document.getElementById("varity4").innerHTML;
		 document.getElementById("varity5").href=a+"&find="+document.getElementById("varity5").innerHTML;
		 document.getElementById("varity6").href=a+"&find="+document.getElementById("varity6").innerHTML;
		 document.getElementById("varity7").href=a+"&find="+document.getElementById("varity7").innerHTML;
		 document.getElementById("varity8").href=a+"&find="+document.getElementById("varity8").innerHTML;
		 document.getElementById("varity9").href=a+"&find="+document.getElementById("varity9").innerHTML;
		 document.getElementById("varity10").href=a+"&find="+document.getElementById("varity10").innerHTML;
		 document.getElementById("good1").href=changeUrlArg('itemid',document.getElementById("good1").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good2").href=changeUrlArg('itemid',document.getElementById("good2").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good3").href=changeUrlArg('itemid',document.getElementById("good3").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good4").href=changeUrlArg('itemid',document.getElementById("good4").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good5").href=changeUrlArg('itemid',document.getElementById("good5").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good6").href=changeUrlArg('itemid',document.getElementById("good6").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good7").href=changeUrlArg('itemid',document.getElementById("good7").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good8").href=changeUrlArg('itemid',document.getElementById("good8").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good9").href=changeUrlArg('itemid',document.getElementById("good9").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		 document.getElementById("good10").href=changeUrlArg('itemid',document.getElementById("good10").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		document.getElementById("first1").href =changeUrlArg('itemid',document.getElementById("first1").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		document.getElementById("a1").href =changeUrlArg('itemid',document.getElementById("a1").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		document.getElementById("a2").href =changeUrlArg('itemid',document.getElementById("a2").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		document.getElementById("a3").href =changeUrlArg('itemid',document.getElementById("a3").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
		document.getElementById("a4").href =changeUrlArg('itemid',document.getElementById("a4").href.replace(window.location.protocol+"//"+window.location.host+'/','')).replace(window.location.pathname,'/items').replace('#','');
}	 
	<!-- function turn() -->
	<!-- {var i=1; -->
	<!-- while(i<5) -->
	<!-- { -->
	<!-- setTimeout("alert("111")", 5000); -->
	<!-- i++; -->
	
	<!-- } -->
		
	<!-- } -->

</script>
 <script type="text/javascript"> 

</script>
 <script type="text/javascript"> 
 function fuck(id,pic_id,url,b1,a1,a2,a3,a4)
 {
	
	document.getElementById(b1+'1').href = document.getElementById(b1+'1').href.replace(document.getElementById(b1+'1').href.split('itemid=')[1],pic_id);
	document.getElementById(b1).src = url ;
	if(id == 1)
	{
	document.getElementById(a1).className='active';
	document.getElementById(a2).className='';
	document.getElementById(a3).className='';
	document.getElementById(a4).className='';
	}
	else if(id == 2)
	{
	document.getElementById(a2).className='active';
	document.getElementById(a1).className='';
	document.getElementById(a3).className='';
	document.getElementById(a4).className='';
	}
	else if(id == 3)
	{
	document.getElementById(a3).className='active';
	document.getElementById(a2).className='';
	document.getElementById(a1).className='';
	document.getElementById(a4).className='';
	}
	else if(id == 4)
	{
	document.getElementById(a4).className='active';
	document.getElementById("a2").className='';
	document.getElementById("a3").className='';
	document.getElementById("a1").className='';
	}
 }
 </script> 
</head>

<body onload="change()">
<div class="headerBar">
	<div class="topBar">
		<div class="comWidth">
			<div class="leftArea">
				<a onclick="AddFavorite(window.location,document.title)"href="javascript:void(0)" class="collection">收藏本站</a>
			</div>
			<div class="rightArea">
				欢迎来到BookShop!    <a  href="/login" id = "my">   [登录]  </a><a href="/register">[免费注册]</a>
			</div>
		</div>
	</div>
	<div class="logoBar">
		<div class="comWidth">
			<div class="logo fl">
				<a href="/shop"><img src="../static/images/logo.jpg" alt="BookShop"></a>
			</div>
			<div class="search_box fl">
				<input type="text" class="search_text fl" id="information">
				<input type="button" value="搜 索" class="search_btn fr" onClick="moves()"alt="banner" style="cursor:pointer">
			</div>
			<div class="shopCar fr">
				<input type="button" value="购物车" class="shopText fl" onClick="shops()"alt="banner"  style="cursor:pointer">
				<span class="shopNum fl">0</span>
			</div>
		</div>
	</div>
	<div class="navBox">
		<div class="comWidth clearfix">
			<div class="shopClass fl">
				<h3>全部图书分类<i class="shopClass_icon"></i></h3>
				<div class="shopClass_show">
					{% block body %}{% end %}
				</div>
				<div class="shopClass_list hide">
					<div class="shopClass_cont">
						<dl class="shopList_item">
							<dt>电脑装机</dt>
							<dd>
								<a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a>
							</dd>
						</dl>
						<dl class="shopList_item">
							<dt>电脑装机</dt>
							<dd>
								<a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a>
							</dd>
						</dl>
						<dl class="shopList_item">
							<dt>电脑装机</dt>
							<dd>
								<a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a>
							</dd>
						</dl>
						<dl class="shopList_item">
							<dt>电脑装机</dt>
							<dd>
								<a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a>
							</dd>
						</dl>
						<dl class="shopList_item">
							<dt>电脑装机</dt>
							<dd>
								<a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a><a href="#">文字字啊</a><a href="#">文字字字啊</a><a href="#">文字啊</a><a href="#">文字</a><a href="#">文字啊</a><a href="#">文字啊</a>
							</dd>
						</dl>
						<div class="shopList_links">
							<a href="#">文字测试内容等等<span></span></a><a href="#">文字容等等<span></span></a>
						</div>
					</div>
				</div>
			</div>
			<ul class="nav fl">
				<li><a href="" class="active">热 卖 图 书 ，新 品 上 架，火 爆 热 销 中！</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="banner comWidth clearfix">
	<div class="banner_bar banner_big">
		<ul class="imgBox">
			<li><a href={{pic_id1}} id = "first1"><img  id = "first" src = {{pic_url1}} alt="banner"></a></li>
		</ul>
		<div class="imgNum">
			<a href="{{pic_id1}}" onmouseover = 'fuck(1,"{{pic_id1}}","{{pic_url1}}","first","a1","a2","a3","a4")'id = 'a1'></a><a href="{{pic_id2}}"onmouseover = 'fuck(2,"{{pic_id2}}","{{pic_url2}}","first","a1","a2","a3","a4")'id = 'a2'></a><a href="{{pic_id3}}"onmouseover = 'fuck(3,"{{pic_id3}}","{{pic_url3}}","first","a1","a2","a3","a4")'id = 'a3'></a><a href="{{pic_id4}}"onmouseover = 'fuck(4,"{{pic_id4}}","{{pic_url4}}","first","a1","a2","a3","a4")'id = 'a4'></a>
		</div>
	</div>
</div>
<div class="shopTit comWidth">
	<span class="icon"></span><h3 id = "titlename1">{{titlename1}}</h3>
	<a id = "titlename1src"href="#" class="more">更多&gt;&gt;</a>
</div>
<div class="shopList comWidth clearfix">
	<div class="leftArea">
		<div class="banner_bar banner_sm">
			<ul class="imgBox">
				<li><a id ="titlename1src1" href="#"><img src="{{background1}}" alt="banner"></a></li>
			</ul>
		</div>
	</div>
	<div class="rightArea">
		<div class="shopList_top clearfix">
			<div class="shop_item">
				<div class="shop_img">
					<a  href="/items?itemid={{part1_namesrc1}}"><img src="{{part1_src1}}" title={{part1_name1}}></a>
				</div>
				<h3>{{part1_name1}}</h3>
				<p>BS价格:{{part1_iprice1}}</p>
			</div>
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part1_namesrc2}}"><img src="{{part1_src2}}" title={{part1_name2}}></a>
				</div>
				<h3>{{part1_name2}}</h3>
				<p>BS价格:{{part1_iprice2}}</p>
			</div>
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part1_namesrc3}}"><img src="{{part1_src3}}" title={{part1_name3}}></a>
				</div>
				<h3>{{part1_name3}}</h3>
				<p>BS价格:{{part1_iprice3}}</p>
			</div>
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part1_namesrc4}}"><img src="{{part1_src4}}" title={{part1_name4}}></a>
				</div>
				<h3>{{part1_name4}}</h3>
				<p>BS价格:{{part1_iprice4}}</p>
			</div>
		</div>
		<div class="shopList_sm clearfix">
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
				<a href="/items?itemid={{part1_namesrc1}}"><img src="{{part1_src1}}" title={{part1_name1}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part1_mprice1}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
				<a href="/items?itemid={{part1_namesrc2}}"><img src="{{part1_src2}}" title={{part1_name2}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part1_mprice2}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
					<a href="/items?itemid={{part1_namesrc3}}"><img src="{{part1_src3}}" title={{part1_name3}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part1_mprice3}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
					<a href="/items?itemid={{part1_namesrc4}}"><img src="{{part1_src4}}" title={{part1_name4}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part1_mprice4}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="shopTit comWidth">
	<span class="icon"></span><h3 id = "titlename2">{{titlename2}}</h3>
	<a id = "titlename2src" href="#" class="more">更多&gt;&gt;</a>
</div>
<div class="shopList comWidth clearfix">
	<div class="leftArea">
		<div class="banner_bar banner_sm">
			<ul class="imgBox">
				<li><a id ="titlename2src2"href="#"><img  src="{{background2}}" alt="banner"></a></li>
			</ul>
		</div>
	</div>
	<div class="rightArea">
		<div class="shopList_top clearfix">
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part2_namesrc1}}"><img src="{{part2_src1}}" title={{part2_name1}}></a>
				</div>
				<h3>{{part1_name2}}</h3>
				<p>BS价格:{{part2_iprice1}}</p>
			</div>
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part2_namesrc2}}"><img src="{{part2_src2}}" title={{part2_name2}}></a>
				</div>
				<h3>{{part2_name2}}</h3>
				<p>BS价格:{{part2_iprice2}}</p>
			</div>
		
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part2_namesrc3}}"><img src="{{part2_src3}}" title={{part2_name3}}></a>
				</div>
				<h3>{{part2_name3}}</h3>
				<p>BS价格:{{part2_iprice3}}</p>
			</div>
			<div class="shop_item">
				<div class="shop_img">
					<a href="/items?itemid={{part2_namesrc4}}"><img src="{{part2_src4}}" title={{part2_name4}}></a>
				</div>
				<h3>{{part2_name4}}</h3>
				<p>BS价格:{{part2_iprice4}}</p>
			</div>
		</div>
		<div class="shopList_sm clearfix">
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
				<a href="/items?itemid={{part2_namesrc1}}"><img src="{{part2_src1}}" title={{part2_name1}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part2_mprice1}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
				<a href="/items?itemid={{part2_namesrc2}}"><img src="{{part2_src2}}"  title={{part2_name2}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part2_mprice2}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
					<a href="/items?itemid={{part2_namesrc3}}"><img src="{{part2_src3}}"  title={{part2_name3}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part2_mprice3}}</h3>
				</div>
			</div>
			<div class="shopItem_sm">
				<div class="shopItem_smImg">
					<a href="/items?itemid={{part2_namesrc4}}"><img src="{{part2_src4}}"  title={{part2_name4}}></a>
				</div>
				<div class="shopItem_text">
					<p>市场价格</p>
					<h3>{{part2_mprice4}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hr_25"></div>
<div class="footer">
	<p><a href="#">简介</a><i>|</i><a href="#">公告</a><i>|</i> <a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：400-675-1234</p>
	<p>Copyright &copy; 2006 - 2014 BookShop版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
	<p class="web"><a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a><a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a></p>
</div>
</body>
</html>
