<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>购物车</title>
<link type="text/css" rel="stylesheet" href="../static/css/reset.css">
<link type="text/css" rel="stylesheet" href="../static/css/main.css">
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript" src="js/ie6Fixpng.js"></script>
<![endif]-->
</head>
<script type="text/javascript" src="../static/js/test.js"></script>
<script src="/static/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
var length;//全局变量
var k=0;
var checked=[];
var flag=0;
var results=[];

function insert()
{	
	 login = document.getElementById("login").innerHTML;
	   if(login !="[登录]")
	   {
		document.getElementById("register").innerHTML = "个人中心";
		document.getElementById("login").href ="#"
		document.getElementById("register").href = "/person";
	}
	$.ajax({
				type:'GET',
				data:{"username":login,"condition":0},
				url:'/ajax/checkorder',
				dataType:'json',
				success:function (result){
					results=result["data"];
					length=results.length;
	if(length!=0){
	
		var insertText=[
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check0"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic0" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name0">商品链接</a></p><p class="cart_info" id="info0">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice0">￥15</div><div class="cart_item t_price1" id="price0">￥10</div><div class="cart_item t_num1" id="number0">2</div><div class="cart_item t_subtotal1 t_red" id="amount0">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check1"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic1" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name1">商品链接</a></p><p class="cart_info" id="info1">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice1">￥15</div><div class="cart_item t_price1" id="price1">￥10</div><div class="cart_item t_num1" id="number1">2</div><div class="cart_item t_subtotal1 t_red" id="amount1">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check2"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic2" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name2">商品链接</a></p><p class="cart_info" id="info2">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice2">￥15</div><div class="cart_item t_price1" id="price2">￥10</div><div class="cart_item t_num1" id="number2">2</div><div class="cart_item t_subtotal1 t_red" id="amount2">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check3"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic3" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name3">商品链接</a></p><p class="cart_info" id="info3">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice3">￥15</div><div class="cart_item t_price1" id="price3">￥10</div><div class="cart_item t_num1" id="number3">2</div><div class="cart_item t_subtotal1 t_red" id="amount3">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check4"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic4" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name4">商品链接</a></p><p class="cart_info" id="info4">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice4">￥15</div><div class="cart_item t_price1" id="price4">￥10</div><div class="cart_item t_num1" id="number4">2</div><div class="cart_item t_subtotal1 t_red" id="amount4">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check5"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic5" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name5">商品链接</a></p><p class="cart_info" id="info5">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice5">￥15</div><div class="cart_item t_price1" id="price5">￥10</div><div class="cart_item t_num1" id="number5">2</div><div class="cart_item t_subtotal1 t_red" id="amount5">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check6"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic6" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name6">商品链接</a></p><p class="cart_info" id="info6">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice6">￥15</div><div class="cart_item t_price1" id="price6">￥10</div><div class="cart_item t_num1" id="number6">2</div><div class="cart_item t_subtotal1 t_red" id="amount6">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check7"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic7" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name7">商品链接</a></p><p class="cart_info" id="info7">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice7">￥15</div><div class="cart_item t_price1" id="price7">￥10</div><div class="cart_item t_num1" id="number7">2</div><div class="cart_item t_subtotal1 t_red" id="amount7">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check8"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic8" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name8">商品链接</a></p><p class="cart_info" id="info8">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice8">￥15</div><div class="cart_item t_price1" id="price8">￥10</div><div class="cart_item t_num1" id="number8">2</div><div class="cart_item t_subtotal1 t_red" id="amount8">￥20</div></div></div>',
'<div class="shopping_item"><div class="shopping_cont cart_inner"><div class="cart_head"><div class="cart_item t_checkbox"><input type="checkbox" id="check9"></div><div class="cart_item t_name">商品名称</div><div class="cart_item t_standardprice">标价</div><div class="cart_item t_price">现价</div><div class="cart_item t_num">数量</div><div class="cart_item t_subtotal">小计</div></div><div class="cart_cont clearfix"><div class="cart_item t_name"><div class="cart_shopInfo"><img id="pic9" src="../static/images/des_sm.jpg" alt=""><div class="cart_shopInfo_cont"><p class="cart_link"><a href="#" id="name9">商品链接</a></p><p class="cart_info" id="info9">商品信息</p></div></div></div><div class="cart_item t_standardprice1" id="stdprice9">￥15</div><div class="cart_item t_price1" id="price9">￥10</div><div class="cart_item t_num1" id="number9">2</div><div class="cart_item t_subtotal1 t_red" id="amount9">￥20</div></div></div>'
];
		for(var i=1;i<length;i++)
		{
			document.getElementById("insert"+i).innerHTML=insertText[i];
		}
	}else{
		var e= document.getElementById("shoppingCart_content");	
		e.parentNode.removeChild(e);
		alert("购物车空空如也，快去加点东西吧！");
		var insertButton='<a href="/shop"><input type="button" class="back_btn" value="返回首页" style="cursor:pointer" align="center"></a>';
		document.getElementById("back").innerHTML=insertButton;
	}
	document.getElementById("pic").src=results[0]["pic"];
	document.getElementById("name").innerHTML =results[0]["name"];
	document.getElementById("info").innerHTML =results[0]["info"];
	document.getElementById("stdprice").innerHTML ="￥"+results[0]["stdprice"];
	document.getElementById("price").innerHTML ="￥"+results[0]["price"];
	document.getElementById("number").innerHTML =results[0]["number"];
	document.getElementById("amount").innerHTML ="￥"+results[0]["amount"];
	document.getElementById("name").href ="/items?itemid="+results[0]["id"];
	for(var i=1;i<length;i++){
		document.getElementById("pic"+i).src=results[i]["pic"];
		document.getElementById("name"+i).innerHTML =results[i]["name"];
		document.getElementById("info"+i).innerHTML =results[i]["info"];
		document.getElementById("stdprice"+i).innerHTML ="￥"+results[i]["stdprice"];
		document.getElementById("price"+i).innerHTML ="￥"+results[i]["price"];
		document.getElementById("number"+i).innerHTML =results[i]["number"];
		document.getElementById("amount"+i).innerHTML ="￥"+results[i]["amount"];
		document.getElementById("name"+i).href ="/items?itemid="+results[i]["id"];
	}	
				}
	});
	
	
	
}

function settleaccount(){
	k=0;
	var total=0;
	var id=0;
	for(var i=1;i<length;i++){
		if(document.getElementById("check"+i).checked){
			checked[k]=i;
			k++;
		}
	}
	if(document.getElementById("check").checked){
		flag=1;	
	}
	if(k>0||flag==1){		
		for(var i=0;i<k;i++){
			id=checked[i];
			total+=parseFloat(results[id]["amount"]);
		}
		if(flag==1){
			total+=parseFloat(results[0]["amount"]);
		}	
		var insertText='<div class="hr_25"></div><div class="shopping_item"><h3 class="shopping_tit">总计</h3><div class="shopping_cont padding_shop clearfix"><div class="cart_count fr"><div class="cart_rmb"><i>总计：</i><span id= "total" ></span></div><div class="cart_btnBox"><input type="button" class="cart_btn" value="立即结账" onclick="commit()" style="cursor:pointer"></div></div></div></div>';
		document.getElementById("insertTotalBox").innerHTML=insertText;
		document.getElementById("total").innerHTML ="￥"+total.toFixed(2).toString();
	}
	else{
	alert("您还未选择商品！");
	}
}
function onclick_all(){
	if(document.getElementById("selectall_btn").value=="全选"){
		document.getElementById("selectall_btn").value="取消全选";
		SelectAll();
	}else if(document.getElementById("selectall_btn").value=="取消全选"){
		document.getElementById("selectall_btn").value="全选";
		cancelselect();
	}
}
function SelectAll(){		
	for(var i=1;i<length;i++){
		document.getElementById("check"+i).checked=true;
	}
	document.getElementById("check").checked=true;
}
function cancelselect(){	
	document.getElementById("check").checked=false;	
	for(var i=1;i<length;i++){
		document.getElementById("check"+i).checked=false;
	}
	k=0;flag=0;
}
function deletedata(){
	k=0;
	flag=0
	var id = new Array();
	for(var i=1;i<length;i++){
		if(document.getElementById("check"+i).checked){
			flag=1
			id.push(document.getElementById("name"+i).href.split("/items?itemid=")[1])
			k++;
		}
	}
	if(document.getElementById("check").checked){
		flag=1
		id.push(document.getElementById("name").href.split("/items?itemid=")[1])
	}
	if(k>0||flag==1){
	
		$.ajax({
				type:'GET',
				data:{"username":document.getElementById("login").innerHTML,"id":id.join(";"),condition:'0'},
				url:'/ajax/changeorder',
				dataType:'json',
				success:function (result){
					if (result["data"]=="true")
					location.href=location.href
					else
					alert("删除失败")
				}
		});
	
	}
	
}
function commit(){
	k=0;
	flag=0
	var id = new Array();
	for(var i=1;i<length;i++){
		if(document.getElementById("check"+i).checked){
			flag=1
			id.push(document.getElementById("name"+i).href.split("/items?itemid=")[1])
			k++;
		}
	}
	if(document.getElementById("check").checked){
		flag=1
		id.push(document.getElementById("name").href.split("/items?itemid=")[1])
	}
	if(k>0||flag==1){
		$.ajax({
				type:'GET',
				traditional: true,
				data:{"username":document.getElementById("login").innerHTML,"id":id.join(";"),condition:1},
				url:'/ajax/changeorder',
				dataType:'json',
				success:function (result){
					if (result["data"]=="true")	
					location.href="/checkorder";
					else
					alert("结算失败")
				}
		});
	
	}
}
</script>
<body onload="insert();">
<div class="headerBar">
	<div class="topBar">
		<div class="comWidth">
			<div class="leftArea">
				<a onclick="AddFavorite('/shop')"href="javascript:void(0)" class="collection">收藏BookShop</a>
			</div>
			<div class="rightArea">
					欢迎来到BookShop！<a href="/login" id="login">{{user}}</a>
	<a href="/register" id="register" >[免费注册]</a>
	<input type="submit" value="退出登录" style="cursor:pointer" onclick="logout()" id="logout"></input>
			</div>
		</div>
	</div>
<div class="logoBar">
		<div class="comWidth">
			<div class="logo fl">
				<a href="#"><img src="../static/images/logo.jpg" alt="慕课网"></a>
			</div>
			<div class="stepBox fr">
				<div class="step1"></div>
				<ul class="step_text">
					<li class="s01 active">我的购物车</li>
					<li class="s02">核对订单</li>
					<li class="s03">订单提交成功</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="shoppingCart comWidth" id="shoppingCart_content">
	<input type="button" class="cart_btn" id="selectall_btn" value="全选" onclick="onclick_all()"style="cursor:pointer">
	<div class="shopping_item">
		<h3 class="shopping_tit">购物车清单</h3>	
		<div class="shopping_cont">
			<div class="cart_inner">
				<li><div class="cart_head">
					<div class="cart_item t_checkbox" ><input type="checkbox" id="check" ></div>
					<div class="cart_item t_name">商品名称</div>
					<div class="cart_item t_standardprice">标价</div>
					<div class="cart_item t_price">现价</div>
					<div class="cart_item t_num">数量</div>
					<div class="cart_item t_subtotal">小计</div>
				</div></li>
				<div class="cart_cont clearfix">
					<div class="cart_item t_name">
						<div class="cart_shopInfo">
							<img id="pic" src="../static/images/des_sm.jpg" alt="">
							<div class="cart_shopInfo_cont">
								<p class="cart_link"><a href="#" id="name">商品链接</a></p>
								<p class="cart_info" id="info">商品信息</p>
							</div>
						</div>
					</div>
					<div class="cart_item t_standardprice1" id="stdprice">
						￥15
					</div>
					<div class="cart_item t_price1" id="price">￥10</div>
					<div class="cart_item t_num1" id="number">2</div>
					<div class="cart_item t_subtotal1 t_red" id="amount">￥20</div>
				</div>
			</div>
		</div>
	</div> 
	<div id="insert1"></div>
	<div id="insert2"></div>
	<div id="insert3"></div>
	<div id="insert4"></div>
	<div id="insert5"></div>
	<div id="insert6"></div>
	<div id="insert7"></div>
	<div id="insert8"></div>
	<div id="insert9"></div>
	<div id="oldNode" ></div>
	<div class="hr_25"></div>	
	<input type="button" class="cart_btn" value="结算" onclick="settleaccount()"style="cursor:pointer">
	<input type="button" class="cart_btn" value="删除" onclick="deletedata()"style="cursor:pointer">
	<div class="hr_25"></div>
	<!-- <div class="shopping_item"> -->
		<!-- <h3 class="shopping_tit">总计</h3> -->
		<!-- <div class="shopping_cont padding_shop clearfix"> -->
			<!-- <div class="cart_count fr"> -->
				<!-- <div class="cart_rmb"> -->
					<!-- <i>总计：</i><span id= "total" ></span> -->
				<!-- </div> -->
				<!-- <div class="cart_btnBox"> -->
					<!-- <input type="button" class="cart_btn" value="立即结账"> -->
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->
	<div id="insertTotalBox"></div>
</div>
<div class="hr_25"></div>
<div id="back"></div>
<div class="hr_25"></div>
<div class="footer">
		<p><a href="#">BookShop简介</a><i>|</i><a href="#">BookShop公告</a><i>|</i> <a href="#">招纳贤士</a><i>|</i><a href="#">联系我们</a><i>|</i>客服热线：400-675-1234</p>
		<p>Copyright &copy; 2017 - 2017 BookShop版权所有&nbsp;&nbsp;&nbsp;鲁ICP备09037834号&nbsp;&nbsp;&nbsp;鲁ICP证B1034-8373号&nbsp;&nbsp;&nbsp;某市公安局XX分局备案编号：123456789123</p>
		<p class="web">
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
			<a href="#"><img src="../static/images/webLogo.jpg" alt="logo"></a>
		</p>
	</div>
</body>
</html>
